<div id="nav_top" class="dropdown_menu clearfix round_top" style="opacity: 1;">
    <ul class="clearfix">
        <li><a href="@Url.Action("Products")" class="pjax">
            <img src="~/Content/lib/images/icons/small/grey/expose.png"><span>Products</span></a></li>
        <li><a href="@Url.Action("Agents")" class="pjax">
            <img src="~/Content/lib/images/icons/small/grey/user_comment.png"><span>Agents</span></a></li>
    </ul>
</div>
