@{
    ViewBag.Title = "Products";
}
@RenderPage("_NavOperations.cshtml")
<div class="grid_16">
    <div class="isotope_holder indented_area">
        <ul class="gallery feature_tiles clearfix">
            <li class="isotope-item"><a class="full_width light large_icon icon_top on_dark dialog_button img_icon"
                data-dialog="create_product">
                <img src="~/Content/lib/images/icons/large/grey/frames.png">
                <span class="name sort_1">Create Product</span> </a></li>
        </ul>
    </div>
</div>
<div class="box grid_16">
    <div class="block lines">
        <form class="validate_form" novalidate="novalidate">
        <h2 class="section">Search</h2>
        <div class="columns clearfix">
            <div class="col_50">
                <fieldset class="label_side label_small top">
                    <label for="text_field_inline">
                        From</label>
                    <div class="clearfix">
                        <input type="text" class="text">
                    </div>
                </fieldset>
            </div>
            <div class="col_50">
                <fieldset class="label_side label_small top right">
                    <label for="text_field_inline">
                        To</label>
                    <div class="clearfix">
                        <input type="text" class="text">
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="columns clearfix">
            <div class="col_50">
                <fieldset class="label_side label_small top">
                    <label for="text_field_inline">
                        From</label>
                    <div class="clearfix">
                        <input type="text" class="datepicker">
                    </div>
                </fieldset>
            </div>
            <div class="col_50">
                <fieldset class="label_side label_small top right">
                    <label for="text_field_inline">
                        To</label>
                    <div class="clearfix">
                        <input type="text" class="datepicker">
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="columns clearfix">
            <div class="col_50">
                <fieldset class="label_side label_small top right">
                    <div class="uniform inline clearfix">
                        <label for="yes_share_room">
                            <input type="checkbox" name="answer4b" id="yes4b" />Share Room</label>
                    </div>
                </fieldset>
            </div>
            <div class="col_50">
                <fieldset class="label_side top">
                    <label>
                        Budget</label>
                    <div>
                        <p>
                            <input type="text" id="amount" style="border: 0; font-weight: bold;" />
                        </p>
                        <div style="width: auto; margin-right: 45px;" id="budgetRange">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="button_bar clearfix">
            <button class="grey dark">
                <img src="~/Content/lib/images/icons/small/white/magnifying_glass.png">
                <span>Search</span>
            </button>
        </div>
        </form>
    </div>
</div>

<div class="flat_area grid_16">
    <h2 class="section">Draft : 1 Items</h2>
    <div class="box grid_16 single_datatable">
        <div id="dt1" class="no_margin">
            <table class=" datatable">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            A/L
                        </th>
                        <th>
                            Period
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Default Rate
                        </th>
                        <th>
                            Com Agent
                        </th>
                        <th>
                            Com Sales
                        </th>
                        <th>
                            Pax
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <td>
                            Romantic in Korea
                        </td>
                        <td>
                            ZEGO 2134
                        </td>
                        <td>
                            TH | KE
                        </td>
                        <td>
                            KE(TG)
                        </td>
                        <td>
                            24/05/12-27/05/12
                        </td>
                        <td>
                            5D4N
                        </td>
                        <td>
                            17900
                        </td>
                        <td>
                            1000
                        </td>
                        <td>
                            200
                        </td>
                        <td>
                            0/0/32
                        </td>
                        <td>
                            2 | 10 | 9
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="flat_area grid_16">
    <h2 class="section">
        Not Active Draft : 1 Items</h2>
    <div class="box grid_16 single_datatable">
        <div id="dt1" class="no_margin">
            <table class="datatable">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            A/L
                        </th>
                        <th>
                            Period
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Default Rate
                        </th>
                        <th>
                            Com Agent
                        </th>
                        <th>
                            Com Sales
                        </th>
                        <th>
                            Pax
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <td>
                            Romantic in Korea
                        </td>
                        <td>
                            ZEGO 2134
                        </td>
                        <td>
                            TH | KE
                        </td>
                        <td>
                            KE(TG)
                        </td>
                        <td>
                            24/05/12-27/05/12
                        </td>
                        <td>
                            5D4N
                        </td>
                        <td>
                            17900
                        </td>
                        <td>
                            1000
                        </td>
                        <td>
                            200
                        </td>
                        <td>
                            0/0/32
                        </td>
                        <td>
                            2 | 10 | 9
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="flat_area grid_16">
    <h2 class="section">
        Active : 1 Items</h2>
    <div class="box grid_16 single_datatable">
        <div id="dt1" class="no_margin">
            <table class="datatable">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            A/L
                        </th>
                        <th>
                            Period
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Default Rate
                        </th>
                        <th>
                            Com Agent
                        </th>
                        <th>
                            Com Sales
                        </th>
                        <th>
                            Pax
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <td>
                            Romantic in Korea
                        </td>
                        <td>
                            ZEGO 2134
                        </td>
                        <td>
                            TH | KE
                        </td>
                        <td>
                            KE(TG)
                        </td>
                        <td>
                            24/05/12-27/05/12
                        </td>
                        <td>
                            5D4N
                        </td>
                        <td>
                            17900
                        </td>
                        <td>
                            1000
                        </td>
                        <td>
                            200
                        </td>
                        <td>
                            0/0/32
                        </td>
                        <td>
                            2 | 10 | 9
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="flat_area grid_16">
    <h2 class="section">
        Complete : 1 Items</h2>
    <div class="box grid_16 single_datatable">
        <div id="dt1" class="no_margin">
            <table class="datatable">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            A/L
                        </th>
                        <th>
                            Period
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Default Rate
                        </th>
                        <th>
                            Com Agent
                        </th>
                        <th>
                            Com Sales
                        </th>
                        <th>
                            Pax
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <td>
                            Romantic in Korea
                        </td>
                        <td>
                            ZEGO 2134
                        </td>
                        <td>
                            TH | KE
                        </td>
                        <td>
                            KE(TG)
                        </td>
                        <td>
                            24/05/12-27/05/12
                        </td>
                        <td>
                            5D4N
                        </td>
                        <td>
                            17900
                        </td>
                        <td>
                            1000
                        </td>
                        <td>
                            200
                        </td>
                        <td>
                            0/0/32
                        </td>
                        <td>
                            2 | 10 | 9
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="flat_area grid_16">
    <h2 class="section">
        Delete : 1 Items</h2>
    <div class="box grid_16 single_datatable">
        <div id="dt1" class="no_margin">
            <table class="datatable">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            A/L
                        </th>
                        <th>
                            Period
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Default Rate
                        </th>
                        <th>
                            Com Agent
                        </th>
                        <th>
                            Com Sales
                        </th>
                        <th>
                            Pax
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <td>
                            Romantic in Korea
                        </td>
                        <td>
                            ZEGO 2134
                        </td>
                        <td>
                            TH | KE
                        </td>
                        <td>
                            KE(TG)
                        </td>
                        <td>
                            24/05/12-27/05/12
                        </td>
                        <td>
                            5D4N
                        </td>
                        <td>
                            17900
                        </td>
                        <td>
                            1000
                        </td>
                        <td>
                            200
                        </td>
                        <td>
                            0/0/32
                        </td>
                        <td>
                            2 | 10 | 9
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@RenderPage("_Product.cshtml")
@section scripts{
    <script>
        $(function () {
            $("#budgetRange").slider({
                range: true,
                min: 0,
                max: 80000,
                step: 1000,
                values: [0, 80000],
                slide: function (event, ui) {
                    $("#amount").val("฿" + ui.values[0] + " - ฿" + ui.values[1]);
                }
            });

            $("#amount").val("฿" + $("#budgetRange").slider("values", 0) +
            " - ฿" + $("#budgetRange").slider("values", 1));
        });
    </script>
}
